<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nc.css">
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>Encryptid</title>
</head>

<body>

    <%- include('./partials/nav.ejs') %>



    <div class="nc-div">
        <h1>Encryptid Registeration</h1>
        <form id="regForm">
            <label for="name"> Name </label> <br>
            <input name="name" id="name" type="text" autocomplete="off" required placeholder="John Doe"> <br>
            <label for="displayName"> Display Name </label> <br>
            <input name="displayName" id="displayName" type="text" autocomplete="off" required placeholder="johnDoe69"> <br>
            <label for="email"> Email </label> <br>
            <input name="email" id="email" type="email" autocomplete="off" required placeholder="john.doe@ds.study.iitm.ac.in"> <br>
            <label for="password">Password:</label> <br>
            <input name="password" id="password" type="password" autocomplete="off" required placeholder="At least 6 characters"> <br>
            <label for="cpassword">Confirm Password:</label> <br>
            <input name="cpassword" id="cpassword" type="password" autocomplete="off" required placeholder="Confirm Password"> <be>
            <label for="refCode"> Refered by another IITM participant? enter their roll number below </label> <br>
            <input name="refCode" id="refCode" type="text" autocomplete="off" required placeholder="22f3002538"> <br>
            <button type="submit" id="regBtn">Register</button> <br>
            <br><br><br><label>Please only register with @ds.study.iitm.ac.in emails. Students outside IIT Madras / students using personal emails will automatically be banned by the systumm when the event starts. </label><br>
        </form>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script type="module" src="js/nc.js"></script>
<script>
    var button = document.querySelector('#regBtn')

    function load() {
        this.disabled = true;
        this.innerHTML = `
        <div class="loader">
        </div>
    `
        this.style.cursor = "not-allowed";
    }
    button.addEventListener('click', load)
</script>

</html>
